// colors

$black-gray: #333;
$gray-middle: #8B8B81;
$gray: #7E7E7E;
$gray-granite: #616161;
$gray-bright: #EEEEEE;
$charcoal-dark: #333333;
$white-snow-snow: #FFFAFA;
$white-snow-antiflash: #F2F2F2;

$green: #687864;
$blue: #31708E;
$blue2: #5085A5;
$blue3: #8FC1E3;
$white-snow: #F7F9FB;

$opacity-1: 1;
$opacity-9: 0.9;
$opacity-5: 0.5;
$opacity-0: 0;

.topNav {
    background: inherit;
    background-color: $gray-granite;
    z-index: 2;
    opacity: $opacity-9;
    height: 50px;
    overflow: hidden;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    transition: all 1s ease;
    box-shadow: $gray-granite 1px 1px 5px 1px;

    span {
        font-size: 1em;
        font-weight: bold;
        text-decoration: italic;
        color: $white-snow;
    }

    .navHead {
        margin: auto 0 auto 10px;
        transition-delay: 2s;
        transition: all 0.1s;
        animation: backup 1s ease;

        @keyframes backup {
            0% { 
                transform: translateX(40px);
                transform: translateY(-200px);
            }
        }

        a {
            color: $white-snow;
            text-decoration: none;

            &:link {
                color: $white-snow;
            }
            &:visited {
                color: $white-snow;
            }
            &:hover {
                color: $white-snow;
                font-size: 1.1em;
                opacity: $opacity-5;
            }
            &:active {
                color: $white-snow;
            }
        }
    }
}

// container for hamburger
.menuButtonContainer {
    display: none;
    margin: auto 15px;
    margin-left: auto;
    opacity: $opacity-9;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;

    // hamburger
    div {
        width: 20px;
        height: 2px;
        background-color: $white-snow;
        margin: 4px 0;
        transition: 0.7s;
    }

    // animate barMenuButton
    .change {
        &.bar1 {
            transform: translate(0, 6px) rotate(-45deg)
        }
        &.bar2 {
            opacity: $opacity-0;
        }
        &.bar3 {
            transform: translate(0, -6px) rotate(45deg);
        }
    }

}

// navigation linklist
.navList {
    gap: 2em;
    padding: 0;
    height: 30px;
    // list-style: none;
    display: flex;
    margin: auto 0;
    // border: 2px solid black;
    justify-content: flex-start;
    
    .navItem {
        display: block;
        margin: auto 10px;
    }

    .navLink {
        color: $white-snow;
        font-weight: light;
        text-decoration: none;
    }
}


@media (max-width: 600px)  {
    .navList .navItem:not(:first-child) {
        display: none;
    }

    .topNav.responsive {
        // height: 15em;
        flex-flow: column;
        justify-content: flex-start;
        opacity: $opacity-1;
        height: 14em;
        border-bottom-left-radius: 4%;
        // animation: widthGrowing 2s;

        .navList {
            border-top: 0.5px solid $white-snow;
            display: flex;
            flex-flow: column;
            align-items: left;
            gap: 30px;
            margin: 45px 0;
            // transition: border 1.5s;
            animation: widthGrowing 1s ease;
        }


        @keyframes widthGrowing {
            0% { width: 0%; }
            100% { width: 100%; }
        }
        
        .navItem {
            display: block;

            &:nth-child(2) {
            margin-top: 20px;
            }

        }

        .navLink {
            transition: all 0.5s ease;


            &:hover {
                opacity: $opacity-5;
                font-size: 1.1em;
                padding-left: 10px;
            }
        }

        .navHead {
            position: absolute;
            top: 10px;
            left: 12px;
            margin: 0;
            padding: 0;
            // transition: all 1s;
            animation: dropdown 1s ease;
        }

        @keyframes dropdown {
            0% { 
                transform: translateX(40px);
                transform: translateY(-200px);
            }
        }
    }
    
    .menuButtonContainer {
        display: block;
    }
}