// colors

$black-gray: #333;
$gray-middle: #8B8B81;
$gray: #7E7E7E;
$gray-granite: #616161;
$gray-bright: #EEEEEE;
$charcoal-dark: #333333;
$white-snow: #FFFAFA;
$white-snow-antiflash: #F2F2F2;

.kossaContentContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 40px;
    margin-top: 40px;


    .kossaContent {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 20px 50px 20px;
        background-color: $white-snow;
        max-height: 20em;
        border-radius: 10px;
        max-width: 100%;
        overflow: hidden;
        align-self: flex-start;
        box-shadow: $gray-bright 0px 0px 2px 1px;

        &:nth-child(even) {
            align-self: flex-end;
        }


        .photoSquare {
            // // background-image: url('../../pictures/mushroom.jpg');
            // background-position: center;
            // background-repeat: no-repeat;
            max-width: 30%;
            max-height: 100%;
            // border-radius: 10px;

            img {
                display: block;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                border-radius: 50%;
            }
        }

        .textBox {
            padding: 5%;
            text-align: justify;

            h1 {
                font-size: 1.2em;
            }
            h3 {font-size: 1.1em;}
            p {font-size: 0.8em;}

        }
    }


    // .photoSquare {
    //     // margin: 0 auto;
    //     // justify-content: center;
    //     background-color: $white;
    //     border-radius: 10px;
    //     width: 10%;
    //     height: 100%;
    //     border: 1px solid black;
    //     margin: 20%;

    //     // &:nth-child(even) {
    //     //     border-radius: 10px;
    //     //     align-self: flex-end;
    //     // }
    // }

}