$black-gray: #333;
$gray-middle: #8B8B81;
$gray: #7E7E7E;
$gray-granite: #616161;
$gray-bright: #EEEEEE;
$charcoal-dark: #333333;
$white-snow: #FFFAFA;
$white-antiflash: #F2F2F2;



.contentContainer {
    height: 100%;
    padding: 10%;
    display: flex;
    flex-flow: column nowrap;
    gap: 60px;
    background-color: $white-snow;
    // overflow: scroll;
    


    .contentBox {
        position: relative;
        min-width: 100px;
        padding: 20px;
        // overflow:hidden;
        // border: 1px solid $charcoal-dark;
        border-radius: 15px;
        // box-shadow: 0 5px 10px 5px $gray-granite;
        box-shadow: $gray-granite 0px 18px 50px -10px;
        // align-self: center;
        left: 5%;


        &:nth-child(even) {
            left: -5%;
            color: red;
        }


        // .content {

        // }
    }
}